<% include ./partials/header %>

    <div class="container" id="show-item">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">When And Where</p>
                <div class="list-group list-group-flush">
                    <li class="list-group-item">Start:
                        <%= event.start %>
                    </li>
                    <li class="list-group-item">Finish:
                        <%= event.finish %>
                    </li>
                    <li class="list-group-item">City:
                        <%= event.place %>
                    </li>
                    <li class="list-group-item"></li>
                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-responsive" src="<%= event.image %>">
                    <div class="caption-full">
                        <p class="pull-right">Category: <em><%= event.category %></em></p>
                        <h4>
                            <a>
                                <%=event.title%>
                            </a>
                        </h4>
                        <p>
                            <%= event.body %>
                        </p>
                        <p>
                            <em>Organised by: <%= event.organiser %></em>
                        </p>

                        <a class="btn btn-xs btn-warning" href="/events/<%= event._id %>/edit">Edit</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Delete</button>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Conformation of deleting dialog-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form id="delete" action="/events/<%= event._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <% include ./partials/footer %>